/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/database.php
log
public/media/ITSP2015/qwrerttfaytfdyagadsaghgadugye2363613b/abstract.zip
.idea/blade.xml
.idea/copyright/
.idea/laravel-plugin.xml
.idea/php.xml
vendor/barryvdh/
vendor/phpdocumentor/
vendor/symfony/class-loader/
vendor/symfony/polyfill-apcu/
vendor/composer
.idea/
composer.*