@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

._ml-23 {
    margin-left: 23px;
}

._ml-40 {
    margin-left: 40px;
}

._ml-110 {
    margin-left: 110px;
}

._ml-285 {
    margin-left: 285px;
}

html,body {
    height: 100%;
    min-width: 1250px;
}

body {
    width: 100%;
    background: #161a1c;
    font-family: "Lato","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,"メイリオ",sans-serif;
    color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: visible;
    background: url("../img/bg.png") center;
}

ul,li {
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    color: #f7f7f7;
    text-decoration: none;
}

nav,main {
    display: none;
}

main {
    position: relative;
    margin-left: 58px;
    min-height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

main>div {
    min-width: 1142px;
}

.nav_open main {
    pointer-events: none;
}

#bgCanvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.loading_progress {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0%;
    background: #f4f4f4;
    z-index: 101;
}

.loading_cover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading_cover .logo_box {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.loading_cover .logo_box span {
    position: absolute;
    width: 43px;
    height: 43px;
    background: url(../img/preloader_logo_box_01.png);
}

.loading_cover .logo_box .box2 {
    left: 33px;
    top: 0;
}

.loading_cover .logo_box .box3 {
    left: 66px;
    top: 0;
}

.loading_cover .logo_box .box4 {
    left: 0px;
    top: 33px;
}

.loading_cover .logo_box .box5 {
    left: 33px;
    top: 33px;
}

.loading_cover .logo_box .box6 {
    left: 66px;
    top: 33px;
}

.loading_cover .logo_box .box7 {
    left: 0;
    top: 66px;
    background: url(../img/preloader_logo_box_02.png);
}

.loading_cover .logo_box .box8 {
    left: 33px;
    top: 66px;
}

.loading_cover .logo_box .box9 {
    left: 66px;
    top: 66px;
}

.hidden {
    display: none;
}

svg {
    display: none;
}

svg .path {
    stroke: #fff;
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

svg .path404_1 {
    stroke: #fff;
    fill: #fff;
    stroke-width: 1;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

svg .path404_2 {
    stroke: #fff;
    fill: #fff;
    stroke-width: 1;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

::selection {
    background: #111;
    color: #f4f4f4;
}

::-moz-selection {
    background: #111;
    color: #f4f4f4;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 58px;
    height: 100%;
    background: #111;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
}

nav .nav_open {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 58px;
    height: 30px;
    margin-top: -12px;
    z-index: 1;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

nav .nav_open div {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 19px;
    background: #f4f4f4;
}

nav .nav_open div.bar1 {
    top: 7px;
}

nav .nav_open div.bar2 {
    top: 13px;
}

nav .nav_open div.bar3 {
    top: 19px;
}

nav .nav_ameba {
    position: absolute;
    left: 4px;
    bottom: 70px;
    width: 58px;
    height: 40px;
}

nav .nav_content {
    display: none;
    position: relative;
    width: 260px;
    height: 100%;
    text-align: center;
    letter-spacing: 0.075em;
}

nav .nav_content h1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    margin-top: -247px;
}

nav .nav_content h1 a .logo_section {
    position: absolute;
    left: 55px;
    top: 0;
    width: 150px;
    height: 61px;
}

nav .nav_content h1 a .logo_section .logo_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav .nav_content h1 a .logo_section .logo_box span {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/nav_logo_box_01.png);
}

nav .nav_content h1 a .logo_section .logo_box span.box1 {
    left: 0;
    top: 0;
}

nav .nav_content h1 a .logo_section .logo_box span.box2 {
    left: 18px;
    top: 0px;
}

nav .nav_content h1 a .logo_section .logo_box span.box3 {
    left: 36px;
    top: 0px;
}

nav .nav_content h1 a .logo_section .logo_box span.box4 {
    left: 0px;
    top: 18px;
}

nav .nav_content h1 a .logo_section .logo_box span.box5 {
    left: 18px;
    top: 18px;
}

nav .nav_content h1 a .logo_section .logo_box span.box6 {
    left: 36px;
    top: 18px;
}

nav .nav_content h1 a .logo_section .logo_box span.box7 {
    left: 0px;
    top: 36px;
    background: url(../img/nav_logo_box_02.png);
}

nav .nav_content h1 a .logo_section .logo_box span.box8 {
    left: 18px;
    top: 36px;
}

nav .nav_content h1 a .logo_section .logo_box span.box9 {
    left: 36px;
    top: 36px;
}

nav .nav_content h1 a .logo_section img {
    display: block;
}

nav .nav_content .nav_pages {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -98px;
    font-size: 12px;
    font-weight: bold;
}

nav .nav_content .nav_pages li {
    margin-bottom: 8px;
}

nav .nav_content .nav_pages li a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 10px 0;
    text-decoration: none;
}

nav .nav_content .nav_pages li a span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 0 15px;
    background: #f4f4f4;
    color: #969696;
    z-index: 2;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

nav .nav_content .nav_pages li a span:hover {
    color: #111;
}

nav .nav_content .nav_pages li.current a {
    background: url(../img/nav_bg_01.png) left center repeat-x;
}

nav .nav_content .nav_pages li.current a span {
    color: #111;
}

nav .nav_content .nav_social {
    position: absolute;
    left: 0;
    bottom: 72px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

nav .nav_content .nav_social li,nav .nav_content .nav_social a {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 31px;
    height: 17px;
    font-size: 10px;
    letter-spacing: 0.075em;
}

nav .nav_content .nav_social li p,nav .nav_content .nav_social a p {
    color: #969696;
}

nav .nav_content .nav_copyright {
    position: absolute;
    left: 0;
    bottom: 49px;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #111;
    letter-spacing: 0.075em;
}

nav.open {
    cursor: default;
    -webkit-transform-origin: left top;
    -webkit-transform: translate3d(0, 0, 1001px);
}

nav.open .nav_content {
    display: block;
}

.blocker {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9;
    cursor: url(../img/etc_cursor.png),crosshair;
    -webkit-transform-origin: left top;
    -webkit-transform: translate3d(0, 0, 1000px);
}

.preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 100;
}

.preloader .preloader_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/preloader_bg.png);
}

.preloader .text {
    position: relative;
    width: 790px;
    margin: 0 auto;
    visibility: hidden;
}

.preloader .text .main {
    font-size: 150px;
    font-weight: 100;
}

.preloader .text .main .world {
    font-weight: 300;
    letter-spacing: 0.065em;
}

.preloader .text .tagline {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 0.13em;
    text-indent: 10px;
}

.preloader .text .progress {
    position: absolute;
    left: 386px;
    top: 72px;
    width: 40px;
    text-align: center;
    font-size: 15px;
    font-family: "Gilda Display",serif;
}

.preloader .logo {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

.preloader .logo img {
    opacity: 0;
}

.preloader .logo .logo_box {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -135px;
}

.preloader .logo .logo_box span {
    position: absolute;
    width: 43px;
    height: 43px;
    background: url(../img/preloader_logo_box_01.png);
}

.preloader .logo .logo_box .box2 {
    left: 33px;
    top: 0;
}

.preloader .logo .logo_box .box3 {
    left: 66px;
    top: 0;
}

.preloader .logo .logo_box .box4 {
    left: 0px;
    top: 33px;
}

.preloader .logo .logo_box .box5 {
    left: 33px;
    top: 33px;
}

.preloader .logo .logo_box .box6 {
    left: 66px;
    top: 33px;
}

.preloader .logo .logo_box .box7 {
    left: 0;
    top: 66px;
    background: url(../img/preloader_logo_box_02.png);
}

.preloader .logo .logo_box .box8 {
    left: 33px;
    top: 66px;
}

.preloader .logo .logo_box .box9 {
    left: 66px;
    top: 66px;
}

.preloader .logo .logo_lines {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -135px;
}

.preloader .logo .logo_lines span {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 37px;
    background: url(../img/preloader_logo.png);
}

.preloader .logo .logo_lines .line2 {
    top: 37px;
    background-position: 0 -37px;
}

.preloader .logo .logo_lines .line3 {
    top: 74px;
    background-position: 0 -74px;
}

.main_index .panels {
    font-size: 0;
}

.main_index .panels li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 33.33333%;
    overflow: hidden;
}

.main_index .panels li a,.main_index .panels li article {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    text-decoration: none;
}

.main_index .panels li .preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_index .panels li .preview .preview_bw,.main_index .panels li .preview .preview_color {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 100%;
}

.main_index .panels li .preview .preview_color {
    opacity: 0;
}

.main_index .panels li .play {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-left: -10px;
    margin-top: -14px;
    text-align: center;
    opacity: 0;
}

.main_index .panels li .play span {
    position: absolute;
    left: 50%;
    top: 1px;
    height: 2px;
    background: #ebebeb;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.main_index .panels li .play span.line1 {
    width: 30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.main_index .panels li .play span.line2 {
    top: 30px;
    width: 28px;
    margin-left: -2px;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

.main_index .panels li .play span.line3 {
    top: 17px;
    width: 28px;
    margin-left: 22px;
    -webkit-transform: rotate(212deg);
    -moz-transform: rotate(212deg);
    -ms-transform: rotate(212deg);
    -o-transform: rotate(212deg);
    transform: rotate(212deg);
}

.main_index .panels li .title {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 44px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.075em;
    opacity: 0;
}

.main_index .panels li:hover .play,.main_index .panels li:hover .title {
    display: block;
}

.main_index .panels li.member .title,.main_index .panels li.service .title {
    display: block;
    top: 50%;
    margin-top: -41px;
    opacity: 1;
}

.main_index .panels li.member .more,.main_index .panels li.service .more {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 161px;
    height: 26px;
    margin-left: -82px;
    margin-top: 7px;
    border: 1px solid #f4f4f4;
}

.main_index .panels li.member .more .text,.main_index .panels li.service .more .text {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -5px;
    font-size: 11px;
    letter-spacing: 0.075em;
    text-align: center;
}

.main_index .panels li.member .more .underline,.main_index .panels li.service .more .underline {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 85px;
    height: 1px;
    opacity: 0;
    margin-left: -42px;
    margin-top: 14px;
    background: #f4f4f4;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.main_index .panels li.member .preview,.main_index .panels li.service .preview {
    width: 100%;
    height: 100%;
}

.main_index .panels li.member .preview:after,.main_index .panels li.service .preview:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.main_works {
    position: absolute;
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
}

.main_works .panels {
    width: 130%;
    font-size: 0;
}

.main_works .panels li {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 350px;
    height: 272px;
    overflow: hidden;
    vertical-align: top;
}

.main_works .panels li a {
    display: block;
    height: 100%;
}

.main_works .panels li .preview {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_works .panels li .preview .preview_color {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.main_works .panels li .preview:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 105%;
    height: 105%;
    background: rgba(0,0,0,0.5);
}

.main_works .panels li .play {
    position: absolute;
    top: 42%;
    left: -8px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.main_works .panels li .play span {
    position: absolute;
    left: 50%;
    top: 1px;
    height: 2px;
    background: #ebebeb;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.main_works .panels li .play span.line1 {
    width: 30px;
    margin-left: -5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.main_works .panels li .play span.line2 {
    top: 30px;
    width: 28px;
    margin-left: -7px;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

.main_works .panels li .play span.line3 {
    top: 17px;
    width: 28px;
    margin-left: 17px;
    -webkit-transform: rotate(212deg);
    -moz-transform: rotate(212deg);
    -ms-transform: rotate(212deg);
    -o-transform: rotate(212deg);
    transform: rotate(212deg);
}

.main_works .panels li .title {
    position: absolute;
    left: 0;
    top: 60.7%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.075em;
    opacity: 0;
}

#works_panel {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 350px;
    height: 272px;
    overflow: hidden;
    vertical-align: top;
}

#works_panel a {
    display: block;
    height: 100%;
}

#works_panel .preview {
    position: relative;
    width: 100%;
    height: 100%;
}

#works_panel .preview .preview_color {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#works_panel .preview:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 105%;
    height: 105%;
    background: rgba(0,0,0,0.5);
}

#works_panel .play {
    position: absolute;
    top: 42%;
    left: -8px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

#works_panel .play span {
    position: absolute;
    left: 50%;
    top: 1px;
    height: 2px;
    background: #ebebeb;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

#works_panel .play span.line1 {
    width: 30px;
    margin-left: -5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#works_panel .play span.line2 {
    top: 30px;
    width: 28px;
    margin-left: -7px;
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);
}

#works_panel .play span.line3 {
    top: 17px;
    width: 28px;
    margin-left: 17px;
    -webkit-transform: rotate(212deg);
    -moz-transform: rotate(212deg);
    -ms-transform: rotate(212deg);
    -o-transform: rotate(212deg);
    transform: rotate(212deg);
}

#works_panel .title {
    position: absolute;
    left: 0;
    top: 60.7%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.075em;
    opacity: 0;
}

.navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    z-index: 3;
}

.navigation.black li {
    background-color: #000;
    color: #fff;
}

.navigation li {
    display: table;
    background-color: #fff;
    color: #000;
    margin-bottom: 2px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.navigation li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    color: inherit;
}

.navigation li a:hover {
    font-size: 22px;
}

.main_detail .detail_main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;
    -ms-perspective: 3000px;
    -o-perspective: 3000px;
    perspective: 3000px;
    text-align: center;
    overflow: hidden;
}

.main_detail .detail_main .video {
    position: relative;
    text-align: center;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
}

.main_detail .detail_main .video video {
    margin: 0 auto;
}

.main_detail .detail_main .play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1200px;
}

.main_detail .detail_main .play a {
    display: block;
    height: 100%;
}

.main_detail .detail_main .play a img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -16px;
}

.main_detail .detail_main .video_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.main_detail .detail_info {
    position: relative;
    background: #f6f6f6;
    color: #111;
    z-index: 1;
}

.main_detail .detail_info .detail_info_inner {
    position: relative;
    width: 1082px;
    margin: 0 auto;
    padding-bottom: 129px;
}

.main_detail .detail_info .row {
    position: relative;
    margin-bottom: 49px;
    display: table;
}

.main_detail .detail_info .row .img {
    position: relative;
}

.main_detail .detail_info .row .img figure {
    position: relative;
    overflow: hidden;
    width: 646px;
    height: 364px;
}

.main_detail .detail_info .row .img figure img {
    display: block;
    position: relative;
    top: 50%;
    margin-top: -198px;
    width: 646px;
    *padding-bottom: 30px;
}

.main_detail .detail_info .row .img figcaption {
    position: absolute;
    right: 0;
    bottom: -30px;
    *bottom: 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .img figcaption span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-left: 40px;
    background: url(../img/detail_etc_01.png) 12px center no-repeat;
    font-family: "Gilda Display",serif;
}

.main_detail .detail_info .row .img.scene03 figure {
    width: 610px;
    height: 344px;
}

.main_detail .detail_info .row .img.scene03 figure img {
    width: 610px;
    margin-top: -187px;
}

.main_detail .detail_info .row .text {
    display: table-cell;
    vertical-align: middle;
}

.main_detail .detail_info .row .text h1 {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .text p {
    width: 400px;
    padding-right: 45px;
    font-size: 14px;
    line-height: 29px;
    font-family: Meiryo,"メイリオ","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3";
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .text.text-type-client h1,.main_detail .detail_info .row .text.text-type-team h1 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .text.text-type-client p,.main_detail .detail_info .row .text.text-type-client span,.main_detail .detail_info .row .text.text-type-team p,.main_detail .detail_info .row .text.text-type-team span {
    line-height: 29px;
    font-family: inherit;
}

.main_detail .detail_info .row .text.text-type-client {
    width: 327px;
    height: 346px;
    vertical-align: top;
}

.main_detail .detail_info .row .text.text-type-client h1 {
    padding-top: 95px;
    font-family: inherit;
}

.main_detail .detail_info .row .text.text-type-client .project {
    position: relative;
    margin-top: 22px;
    margin-bottom: 10px;
    padding-top: 41px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .text.text-type-client .project:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 1px;
    background: #111;
}

.main_detail .detail_info .row .text.text-type-client span {
    display: block;
    width: 283px;
}

.main_detail .detail_info .row .text.text-type-client .client {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.075em;
}

.main_detail .detail_info .row .text.text-type-team {
    height: 344px;
}

.main_detail .detail_info .row .text.text-type-team h1 {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 23px;
}

.main_detail .detail_info .row .text.text-type-team h1:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 39px;
    height: 1px;
    background: #111;
}

.main_detail .detail_info .row .text.text-type-team dl {
    width: 400px;
    font-size: 16px;
    line-height: 2.1;
    letter-spacing: 1px;
}

.main_detail .detail_info .row .text.text-type-team dl dt {
    clear: left;
    float: left;
    position: relative;
    padding: 8px 31px 8px 0;
}

.main_detail .detail_info .row .text.text-type-team dl dt:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 26px;
    width: 10px;
    height: 1px;
    background: #111;
}

.main_detail .detail_info .row .text.text-type-team dl dd {
    padding: 9px 0;
    font-weight: 300;
    font-style: oblique;
}

.main_detail .detail_info .row.row-type-reverse .img {
    margin-right: 49px;
}

.main_detail .detail_info .row.row-type-reverse .img figcaption {
    left: 0;
    right: auto;
}

.main_detail .detail_info .row.row-type-01-03 .text h1 {
    margin-left: -3px;
}

.main_detail .detail_info .row.row-type-01-03 .text p {
    margin-left: -1px;
}

.main_detail .detail_info .row.row-type-01-04 {
    margin-left: 6px;
}

.main_detail .detail_info .row.row-type-02-01 .img {
    margin-right: 61px;
}

.main_detail .detail_info .row.row-type-02-02 {
    margin-left: -2px;
}

.main_detail .detail_info .row.row-type-02-02 .text.text-type-team dl {
    width: 386px;
}

.main_detail .detail_info .row.row-type-02-03 .text {
    padding-left: 22px;
    padding-right: 3px;
}

.main_detail .detail_info .row.row-type-02-04 .img {
    margin-left: 111px;
}

.main_detail .detail_info .row.row-type-03-02 {
    margin-left: 45px;
}

.main_detail .detail_info .row.row-type-03-03 {
    margin-left: 2px;
}

.main_detail .detail_info .row.row-type-03-04 .img {
    margin-left: 289px;
}

.main_detail .detail_info header.row .img figure {
    width: 755px;
    height: 425px;
}

.main_detail .detail_info header.row .img figure img {
    width: 755px;
    margin-top: -232px;
}

.main_detail .detail_bottom {
    position: relative;
}

.main_detail .detail_bottom .instruction {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    padding-bottom: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0.075em;
}

.main_detail .detail_bottom .instruction span {
    font-weight: 300;
}

.main_about {
    position: absolute;
    min-height: 100%;
    width: 100%;
    min-width: 1142px;
    visibility: hidden;
    overflow: hidden;
}

.main_about .about_map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.main_about .about_map img {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}

.main_about .about_main {
    position: relative;
    width: 1082px;
    margin: 0 auto;
    z-index: 1;
}

.main_about .about_main .info {
    font-size: 16px;
    letter-spacing: 0.075em;
}

.main_about .about_main .info dl dt {
    clear: both;
    float: left;
    line-height: 32px;
    vertical-align: top;
}

.main_about .about_main .info dl dt:after {
    content: "—";
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 10px;
    vertical-align: top;
}

.main_about .about_main .info dl dd {
    margin-bottom: 30px;
    line-height: 32px;
    font-weight: 300;
    vertical-align: top;
}

.main_about .about_main .info dl dd.address {
    margin-left: 6.3em;
}

.main_about .about_main .info dl dd.executive {
    margin-left: 10em;
}

.main_about .about_main .info dl dd.executive span {
    font-style: oblique;
}

.main_about .about_main .info dl dd.description {
    margin-left: 13em;
}

.main_about .about_main .info #about_google_map {
    position: relative;
    width: 16px;
    height: 21px;
    right: -10px;
    top: -8px;
    -webkit-transition: opacity ease;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
}

.main_about .about_main .info #about_google_map:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

.main_about .about_main .info .logos li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 30px;
    vertical-align: middle;
}

.main_about .about_main .info .logos li a {
    -webkit-transition: opacity ease;
    -webkit-transition-delay: 0.3s;
    -moz-transition: opacity ease 0.3s;
    -o-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
}

.main_about .about_main .info .logos li a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

.main_about .about_main form {
    position: absolute;
    right: 0;
    top: 0;
}

.main_about .about_main form label {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: 2px solid #f4f4f4;
}

.main_about .about_main form label input,.main_about .about_main form label textarea {
    width: 326px;
    padding: 12px 40px 12px 20px;
    background: transparent;
    font-size: 16px;
    font-family: Lato,Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
    color: #f4f4f4;
    border: none;
    letter-spacing: 0.075em;
}

.main_about .about_main form label input:focus,.main_about .about_main form label textarea:focus {
    border: none;
    outline: none;
}

.main_about .about_main form label textarea {
    height: 10em;
}

.main_about .about_main form label:after {
    content: "※";
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    font-size: 16px;
    line-height: 44px;
}

.main_about .about_main form .submit {
    margin-top: -2px;
    text-align: right;
}

.main_about .about_main form .submit button {
    width: 163px;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    background: transparent;
    line-height: 21px;
    font-size: 12px;
    color: #f1f1f1;
    letter-spacing: 0.075em;
    cursor: pointer;
}

.main_about .about_main form .thankyou {
    display: none;
    position: absolute;
    top: 134px;
    left: -26px;
    width: 600px;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 0;
}

#map,#map_zoomin {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1198px;
    opacity: 0;
}

#map>img,#map_zoomin>img {
    position: absolute;
    visibility: hidden;
}

#map:after,#map_zoomin:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

#map_zoomin_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1198px;
    overflow: hidden;
}

#map_zoomin {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
}

.main_service .service_main {
    position: relative;
    text-align: center;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_service .service_main .service_main_inner {
    position: relative;
    z-index: 1;
}

.main_service .service_main h1 {
    margin-bottom: 37px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.075em;
    opacity: 0;
    position: relative;
}

.main_service .service_main p {
    position: relative;
    line-height: 38px;
    font-size: 14px;
    letter-spacing: 0.075em;
    font-family: Lato,Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
    width: 100%;
    height: 100%;
}

.main_service .service_main p span {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main_service .service_main video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main_service .service_main:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.main_service .service_menu ul {
    height: 529px;
    overflow: hidden;
    font-size: 0;
}

.main_service .service_menu ul li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    width: 33.33%;
    height: 529px;
    color: #111;
    border-left: 1px solid #6c6c6c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f4f4f4;
    vertical-align: top;
}

.main_service .service_menu ul li h2,.main_service .service_menu ul li p {
    text-align: center;
}

.main_service .service_menu ul li h2 {
    padding-top: 95px;
    font-size: 30px;
    letter-spacing: 0.075em;
    font-weight: 300;
}

.main_service .service_menu ul li p.subtitle {
    position: absolute;
    left: 0;
    top: 151px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.075em;
    font-family: Lato,Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
    z-index: 1;
}

.main_service .service_menu ul li .description {
    word-wrap: normal;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    line-height: 29px;
    font-size: 14px;
    letter-spacing: 0.075em;
    opacity: 0;
}

.main_service .service_menu ul li .description p {
    position: absolute;
    word-wrap: normal;
    left: 0;
    top: 52px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 143px 78px 0 78px;
    text-align: left;
}

.main_service .service_menu ul li .description p span {
    word-wrap: normal;
    position: relative;
    opacity: 0;
    display: block;
    width: 100%;
}

.main_service .service_menu ul li:first-child {
    border-left: none;
}

.main_service .service_menu ul li.mild_network .bg {
    position: absolute;
    left: 0;
    top: 185px;
    width: 100%;
    height: 245px;
    background: url(../img/service_ad_sprite.png) center top no-repeat #f4f4f4;
}

.main_service .service_menu ul li.creative .bg {
    position: absolute;
    left: 0;
    top: 204px;
    width: 100%;
    height: 209px;
    background: url(../img/service_creative_sprite.png) center top no-repeat #f4f4f4;
}

.main_service .service_menu ul li.consulting .bg {
    position: absolute;
    left: 0;
    top: 205px;
    width: 100%;
    height: 205px;
    background: url(../img/service_consulting_sprite.png) center top no-repeat #f4f4f4;
}

.main_service .service_menu ul li:after {
    content: url(../img/service_btn_01.png);
    position: absolute;
    right: 0;
    top: 0;
}

.main_service .service_menu ul li:hover:after {
    content: url(../img/service_btn_02.png);
}

#dummy_span {
    position: absolute;
    display: none;
    word-wrap: normal;
    line-height: 29px;
    font-size: 14px;
    letter-spacing: 0.075em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_member .main {
    position: relative;
    width: 100%;
    background: url(../img/member_main_bg.png) center top no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.main_member .main .main_content {
    position: relative;
}

.main_member .main .main_photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 1542px;
    height: 100%;
}

.main_member .main .main_photo img {
    position: absolute;
}

.main_member .main .main_photo .hi {
    left: 13.61868%;
    top: 130px;
    margin-left: -195px;
}

.main_member .main .main_photo .sw {
    left: 38.58625%;
    top: 140px;
    margin-left: -212px;
}

.main_member .main .main_photo .kt {
    left: 59.14397%;
    top: 64px;
    margin-left: -180px;
}

.main_member .main .main_photo .ti {
    left: 85.40856%;
    top: 127px;
    margin-left: -215px;
}

.main_member .main .main_elements {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_member .main .main_elements .buttons {
    font-size: 16px;
    line-height: 60px;
    font-style: oblique;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.main_member .main .main_elements .buttons li {
    position: absolute;
}

.main_member .main .main_elements .buttons li a {
    color: #f7f7f7;
    text-decoration: none;
}

.main_member .main .main_elements .buttons li a img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 15px;
    opacity: 0.3;
}

.main_member .main .main_elements .buttons li a span {
    font-size: 112.5%;
}

.main_member .main .main_elements .buttons li.hi {
    left: 13.5%;
    top: 320px;
}

.main_member .main .main_elements .buttons li.sw {
    left: 40.4%;
    top: 340px;
}

.main_member .main .main_elements .buttons li.kt {
    left: 58.3%;
    top: 282px;
}

.main_member .main .main_elements .buttons li.ti {
    left: 68.5%;
    top: 345px;
}

.main_member .main .main_elements h1 {
    position: relative;
    top: 50%;
    margin-top: -75px;
    padding-right: 28px;
    font-size: 150px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.03em;
    vertical-align: top;
}

.main_member .main .main_elements h1 .world {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-right: 37px;
    font-weight: 300;
}

.main_member .main .main_elements h1 img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-top: 24px;
    vertical-align: top;
}

.main_member .main .main_elements hr {
    position: relative;
    top: 50%;
    height: 18px;
    margin-top: 41px;
    margin-bottom: 50px;
    border: 0;
    background: url(../img/member_main_icn_01.png) center center no-repeat transparent;
}

.main_member .main .main_elements .message_button {
    position: relative;
    top: 50%;
    left: 50%;
    width: 161px;
    height: 26px;
    margin-left: -95px;
    border: 1px solid #f7f7f7;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.075em;
    margin-left: -82px;
    opacity: 0;
}

.main_member .main .main_elements .message_button a {
    display: block;
    width: 100%;
    height: 100%;
}

.main_member .main .main_elements .message_button a span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -5px;
    font-weight: 400;
}

.main_member .main .main_elements .message_button .underline {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: 25px;
    width: 84px;
    height: 1px;
    background: #f7f7f7;
    opacity: 0;
}

.main_member .main .main_message {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_member .main .main_message .text {
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 33px;
    color: #f4f4f4;
    z-index: 1;
    font-family: Lato,Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
    letter-spacing: 0.075em;
}

.main_member .main .main_message .text .text_parent {
    position: absolute;
}

.main_member .main .main_message .text .text_parent span {
    display: block;
    position: relative;
}

.main_member .main .main_message .text .text_parent .mbm {
    margin-bottom: 22px;
}

.main_member .main .main_message video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -570px;
    margin-top: -445px;
    opacity: 0.6;
}

.main_member .main .main_message .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: #f4f4f4;
}

.main_member .main .main_message .close div {
    position: absolute;
    background: #111;
    width: 30px;
    height: 2px;
}

.main_member .main .main_message .close div.bar1 {
    top: 19px;
    left: 15px;
}

.main_member .main .main_message .close div.bar2 {
    top: 36px;
    left: 15px;
}

.main_member .each .person {
    position: relative;
    height: 988px;
    background: #454545;
    overflow: hidden;
}

.main_member .each .person .person_photo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1251px;
}

.main_member .each .person .person_photo .color,.main_member .each .person .person_photo .hen,.main_member .each .person .person_photo .up,.main_member .each .person .person_photo .down {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
}

.main_member .each .person .person_photo .hen img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.main_member .each .person .person_elements_before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1280px;
    height: 100%;
    margin-left: -640px;
}

.main_member .each .person .person_elements_before .name {
    position: absolute;
    left: 0;
    top: 50%;
    width: 400px;
    margin-top: -106px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-style: oblique;
    letter-spacing: 0.075em;
}

.main_member .each .person .person_elements_before .button {
    position: absolute;
    left: 112px;
    top: 50%;
    margin-top: -58px;
    width: 161px;
    height: 26px;
    border: 1px solid #f4f4f4;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.075em;
}

.main_member .each .person .person_elements_before .button a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.main_member .each .person .person_elements_before .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -46.5px;
    margin-top: -6px;
    border-bottom: 1px solid transparent;
    padding-bottom: 14px;
    font-size: 112.5%;
}

.main_member .each .person .person_elements_after {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #111;
}

.main_member .each .person .person_elements_after .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
    background: #111;
}

.main_member .each .person .person_elements_after .close div {
    position: absolute;
    background: #f4f4f4;
    width: 30px;
    height: 2px;
}

.main_member .each .person .person_elements_after .close div.bar1 {
    top: 19px;
    left: 15px;
}

.main_member .each .person .person_elements_after .close div.bar2 {
    top: 36px;
    left: 15px;
}

.main_member .each .person .person_elements_after .person_elements_after_inner {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.main_member .each .person .person_elements_after .name {
    position: relative;
    margin-bottom: 42px;
    padding-bottom: 23px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.075em;
    font-style: oblique;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -198px;
}

.main_member .each .person .person_elements_after .name:after {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 39px;
    height: 1px;
    background: #111;
}

.main_member .each .person .person_elements_after .title {
    position: absolute;
    top: 50%;
    margin-top: -103px;
    margin-bottom: 24px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.main_member .each .person .person_elements_after .title span {
    font-weight: normal;
    letter-spacing: 0.075em;
}

.main_member .each .person .person_elements_after .social {
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -27px;
    width: 400px;
}

.main_member .each .person .person_elements_after .social li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 12px;
}

.main_member .each .person .person_elements_after .social li a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    width: 17px;
    height: 17px;
    overflow: hidden;
}

.main_member .each .person .person_elements_after .social li a img {
    position: absolute;
    left: 0;
    top: 0;
}

.main_member .each .person .person_elements_after .social li a img.hover {
    opacity: 0;
}

.main_member .each .person .person_elements_after .description {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -198px;
    width: 353px;
    line-height: 29px;
    font-size: 14px;
}

.main_member .each .person.sw .person_elements_before .name,.main_member .each .person.hi .person_elements_before .name {
    left: auto;
    right: 0;
}

.main_member .each .person.sw .person_elements_before .button,.main_member .each .person.hi .person_elements_before .button {
    left: auto;
    right: 112px;
}

.main_member .each .person.sw .person_elements_after .name,.main_member .each .person.sw .person_elements_after .title,.main_member .each .person.sw .person_elements_after .social {
    left: auto;
    right: 0;
    width: 270px;
}

.main_member .each .person.sw .person_elements_after .description {
    right: auto;
    left: 0;
}

.main_member .each .person.hi .person_elements_after .person_elements_after_inner {
    width: 1280px;
}

.main_member .each .person.hi .person_elements_after .name,.main_member .each .person.hi .person_elements_after .title,.main_member .each .person.hi .person_elements_after .social {
    left: auto;
    right: 0;
    width: 270px;
}

.main_member .each .person.hi .person_elements_after .name {
    margin-top: -299px;
}

.main_member .each .person.hi .person_elements_after .title {
    margin-top: -202px;
}

.main_member .each .person.hi .person_elements_after .social {
    margin-top: -133px;
}

.main_member .each .person.hi .person_elements_after .description {
    width: 270px;
    margin-top: -68px;
}

.main_member .each .person.open .person_elements_before {
    display: none;
}

.main_member .each .person.open .person_elements_after {
    display: block;
}

.main_member .each .person.look-up .up {
    opacity: 1;
}

.main_member .each .person.look-down .down {
    opacity: 1;
}

.main_member #Hirohumi .person_elements_after .person_elements_after_inner {
    top: 80px;
}

.main_member #Hirohumi .person_elements_after .person_elements_after_inner .name,.main_member #Hirohumi .person_elements_after .person_elements_after_inner .title,.main_member #Hirohumi .person_elements_after .person_elements_after_inner .social,.main_member #Hirohumi .person_elements_after .person_elements_after_inner .description {
    right: -5px;
}

.main_404 {
    position: relative;
    min-height: 100%;
    padding-left: 202px;
}

.main_404 h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.main_404 h1 span {
    font-size: 150px;
    font-weight: 100;
    letter-spacing: 0.075em;
}
